.post {
  &__perm {
    background-color: $primary-color;
    padding: 8px 12px;
    border-radius: 5px;
    color: $light-color;
    font-size: calc-em(14);
    border: 2px solid $primary-color;
    transition: all 0.2s linear;
    font-weight: bold;
    letter-spacing: 0.8px;

    &:hover {
      color: $primary-color;
      background-color: $light-color;
      text-decoration: none;
    }

    &--transparent {
      font-size: calc-em(14);

      &:hover {
        background-color: transparent;
      }
    }
  }
}
