.icon {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;

    @include rwd(768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__element {
    padding: 0;
    color: $light-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include rwd(992px) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    @include rwd(768px) {
      width: 45%;
      margin-bottom: 50px;
    }

    @include rwd(576px) {
      width: 100%;
    }
  }

  &__img {
    background-color: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    padding: 20px;
    box-sizing: content-box;

    @include rwd(992px) {
      margin: 0 auto 10px;
    }
  }

  &__desc {
    padding: 0 20px;

    @include rwd(992px) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__num {
    font-size: calc-em(22);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1;
  }

  &__info {
    margin: 0;
    font-size: calc-em(14);
    line-height: 1;
  }
}
