/* GLOBAL */

html,
body {
  box-sizing: border-box;
  color: $dark-color;
  font-family: $primary-font;
  font-size: calc-em(16);
  //padding-top: 32px;
}

// header.header {
//   top: 32px !important;
// }

/* FONTS Roboto + Lobster
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
*/

h1,
.h1 {
  font-size: calc-em(40);
}

h2,
.h2 {
  font-size: calc-em(24);
}

h3,
.h3 {
  font-size: calc-em(24);
}

h4 {
  font-size: calc-em(20);
}

h5 {
  font-size: calc-em(18);
}

h6 {
  font-size: calc-em(16);
}

.ttu {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

// .paragraph {

// }

// .paragraph--small {

// }

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.ff2 {
  font-family: $second-font;
}

.primary-c {
  color: $primary-color;
}

.bg--primary {
  background-color: $primary-color;
}

.bg--second {
  background-color: $second-color;
}

.font--light {
  color: $light-color;
}

.relative {
  position: relative;
}

a.primary-c:hover {
  color: $primary-color;
}
